# Dependencies
node_modules/
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist/
build/
*.tsbuildinfo
packages/*/dist/*.css
packages/*/dist/*.ts
packages/*/dist/*.js
packages/*/dist/*.map
!packages/*/dist/.gitkeep

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
*.lcov
.nyc_output/

# Temporary
*.tmp
*.temp
.cache/
*.pid
*.seed
*.pid.lock

# Misc
*.tgz
*.tar.gz
.eslintcache
.stylelintcache
.parcel-cache
