@import "./utilities.css";

@import "../dist/themes/cyberpunk.css";
@import "../dist/themes/retro.css";
@import "../dist/themes/berry.css";
@import "../dist/themes/brutalist.css";
@import "../dist/themes/coral.css";
@import "../dist/themes/corporate.css";
@import "../dist/themes/cream.css";
@import "../dist/themes/daylight.css";
@import "../dist/themes/deep-space.css";
@import "../dist/themes/forest.css";
@import "../dist/themes/graphite.css";
@import "../dist/themes/lavender.css";
@import "../dist/themes/midnight.css";
@import "../dist/themes/mint.css";
@import "../dist/themes/navy.css";
@import "../dist/themes/noir.css";
@import "../dist/themes/obsidian.css";
@import "../dist/themes/ocean.css";
@import "../dist/themes/paper.css";
@import "../dist/themes/ruby.css";
@import "../dist/themes/slate.css";
@import "../dist/themes/snow.css";
@import "../dist/themes/solar.css";
@import "../dist/themes/spring.css";
@import "../dist/themes/starry-night.css";
@import "../dist/themes/sunset.css";
